# Gradle files
.gradle/
build/
local.properties

# IntelliJ IDEA files
*.iml
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Android Studio files
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
captures/
.externalNativeBuild/
.cxx/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Log files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Keystore files
*.jks
*.keystore
*.p12

# Google Services (e.g. APIs or Firebase)
google-services.json

# Version control
vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/reports/

# Android Profiling
*.hprof

# Kotlin
*.kotlin_module

# Debug files
debug/